################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Naves/v16
/Naves/bin/Debug
/Naves/obj/Debug
